require "spec_helper"

RSpec.describe "e-BookMobile API", type: :request do

  describe "/authors" do
    let(:route) { "/authors" }

    describe "POST" do
      let(:headers) do
        {
          "Content-Type" => "application/json"
        }
      end

      let(:request_body) do
        {
          "first_name" => "asgaakh",
          "last_name" => "sjdhhgu",
          "year_of_birth" => 3333
        }.to_json
      end

      let(:response_body) do
        {
          "author" => {
            "id" => 1,
            "first_name" => "asgaakh",
            "last_name" => "sjdhhgu",
            "year_of_birth" => 3333
          }
        }.to_json
      end

      let(:output_file) do
        "spec/contract/output/authors_get_response.json"
      end

      it "retrieve a list of authors" do
        get route

        File.open(output_file, "w+") {|file| file.puts JSON.pretty_generate(JSON.parse(response.body)) }

        expect(response.body).to eql response_body
      end

      it "returns status 200" do
        get route
        expect(response.status).to eql 200
      end
    end
  end
end
