require "rambo_helper"

RSpec.describe "e-BookMobile API", type: :request do

  describe "/authors" do
    let(:route) { "/authors" }

    describe "GET" do
      let(:response_schema) do
        {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "description": "schema for a list of authors",
          "type": "object",
          "properties": {
            "data": {
              "type": "number"
            }
          }
        }
      end

      it "retrieve a list of authors" do
        get route
        expect(response.body).to match_schema response_schema
      end

      it "returns status 200" do
        get route
        expect(response.status).to eql 200
      end
    end
  end
end
