require "spec_helper"

RSpec.describe "e-BookMobile API", type: :request do

  describe "/authors" do
    let(:route) { "/authors" }

    describe "POST" do
      let(:headers) do
        {
          "Content-Type" => "application/json"
        }
      end

      let(:request_body) do
        File.read("spec/support/examples/authors_post_request_body.json")
      end

      let(:response_body) do
        File.read("spec/support/examples/authors_post_response_body.json")
      end

      it "retrieve a list of authors" do
        get route
        expect(response.body).to eql response_body
      end

      it "returns status 200" do
        get route
        expect(response.status).to eql 200
      end
    end
  end
end
